.bubbly-text {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 4rem; /* Increase the size here */
    color: #FF69B4; /* Example color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Optional shadow for effect */
}

#grid{
    max-width: 375px;

}

.box{
    min-height: 100px;
    min-width: 100px
}

#alert--container{
    min-height: 70px;
}

